PORT=3000
DB_HOST=localhost
DB_PORT=3306
DB_NAME=sistema_entrenador
DB_USER=root
DB_PASSWORD=
FLASK_IA_URL=http://localhost:5000
JWT_SECRET=cambiar_esto_en_produccion
JWT_REFRESH_EXPIRES_IN=10d
ENC_KEY=0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef
ENC_IV=0123456789abcdef